{% load static %}
<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">오래 기다렸지?</h1>
      <h5>Too Much Waiting for me. Isn't it?</h5>
      <a class="btn btn-primary mt-2" href="https://www.notion.so/JungHan-Lee-3cf29c66f0ae40e48b89dc702c6c0e4b">ABOUT ME</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="img-fluid rounded" src="{% static 'img/TooMuchWait.jpg' %}" alt="graves">
    </div>
  </div>
</div>
