{% load static %}
<div class="container-fluid bg-dark text-light mt-5 pt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <h6>Contact</h6>
                <p class="font-weight-light">gljhan123@gmail.com</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <h6>Follow</h6>
                <p class="font-weight-light">
                    <a href="https://github.com/5Dong-GA"><img src="{% static "img/GitHub.png" %}" alt="Github" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h5>
                    <img src="{% static "img/mococo.png" %}" width="30" height="30" alt="logo">모코코
                </h5>
                <p style="font-size:12px">Copyright © 2021 All Rights Reserved.</p>
                <p style="font-size: 12px">I think Nobody will read this but just wanna write about something. Made
                    by start user (aka mococo) Acutally i want to write something here but i dont have anything to
                    write.. It is little bit uncomfortable situations but i gonna overcome this situation. And also
                    i want to escape from mococo status at developing. </p>
            </div>
        </div>
    </div>
</div>